
.navbar {
    background-color: #bd1f36;
    background-image: linear-gradient(to bottom, #bd1f36, #3f1018);
    border: 0 1px 0 0 solid #bd1f36;
}



img {
  display: block;
  margin: auto;
}

.past {
  color: darkgray;
}

.module {
  border-left: darkgray 1px;
}